* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: hsl(0, 91%, 40%);
}

p {
    text-align: center;
    color: white;
    background-color:hsl(0, 90%, 30%);
}

hr {
    margin:1rem 0;
}

details {
    background-color:hsl(0, 90%, 38%);
    color:white;
    margin: 0.5rem;
}

button {
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 3px;
    width: 5.3rem;
    word-wrap:break-word;
}

button:hover {
    color: red;
}

footer {
    text-align: center;
    
}

a {
    text-decoration: none;
    color: black;;
}

.heroContainer {
    display: flex;
    flex-flow: column;
    flex-grow: 4;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 3rem;   
    align-items: center;
}

.heroImage {
    max-width: 27rem;
    min-height: 30rem;
    margin:1rem 0;
}

/* .heroImage:hover {
    height:23rem;
} */

.heroCard {
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: center; */
    align-items: center;
    /* align-content: flex-start; */
    flex-basis: 3; 
    min-width: 60%;
    max-width: 60%;
    height: 30%;
    padding:2%;
    border: solid 2px black;
    margin: 2rem 0 5rem 0;
    background-color:hsl(0, 90%, 30%);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80%;
    min-height: 20rem;
    background-color: black;  
}

#superSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.eventImage,.comicImage,.seriesImage {
    max-height:30rem;
    max-width:20rem;
}

.comicImage:hover {
    min-width: 10rem;
    max-height: 40rem;
    z-index: 2;
}

.comicDisplay,.eventDisplay {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px;
    background-color:hsl(0, 90%, 30%); 
    margin: 0.5rem; 
    max-width: 50%;
    min-width: 50%;
    /* z-index: 1; */
}

.showButtonContainer {
    display: flex;
    flex-flow: column nowrap;
}

.pictureButtonContainer {   
    display: flex;  
    flex-flow: row wrap;
    justify-content: left;
    /* margin-left: 7rem; */
}

/* keyframes */

@keyframes float {
    from {
        margin:0;
      }
    
      to {
        margin:10;
      }
}